<%= form_tag(movies_search_movies_path, method: :get) do %>
    <%= text_field_tag(:search ,params[:search])%>
    <%=submit_tag ("Search")%>

<%end%>
<%if @movies.present?%>
<table>
  <thead>
    <tr>
      <th>Title</th>    
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |mv| %>
      <tr>
        <td><%= mv["Title"] %></td>
        <td><%= mv["Year"] %></td>
        <td><%= link_to "Show", movies_show_path(:id=>mv["imdbID"]) %></td>
        <td><%= link_add_favourites(mv["imdbID"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
No movies found!
<%end%>

<br>