<html>
<head>
  <title>Movie</title>

</head>
<body>
    <div class="navigation">
    
    </div>

    <h1><%= @movie["Title"]%></h1>

    <p>
      <strong>Year:</strong>
      <%= @movie["Year"]%>
    </p>

    <p>
      <strong>Genre:</strong>
      <%= @movie["Genre"] %>
    </p>

    <p>
    <strong>Director:</strong>
    <%= @movie["Director"] %>
  </p>

  <p>
  <strong>Language:</strong>
  <%= @movie["Language"] %>
</p>

<p>
<strong>Rating:</strong>
<%= @movie["Ratings"][0]["Source"] %> - <%= @movie["Ratings"][0]["Value"] %>
</p>

    <div class="footer">
      <p><%= @movie["Plot"] %>!</p>
    </div>    
</body>
</html>